/* .container{
    background-color: blue;
    width: 800px;
    height: 300px;
    justify-content: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 5vh;
}

.input-main{
    background-color: black;
    padding: 3vh;
    width: 60vh;
    margin-left: auto;
    margin-right: auto;
    
}

.input{
    display: flex;
    gap: 3vh;
    justify-content: center;
}

.input input{
    border-radius: 7px;
    
}

.input button{
    border-radius: 7px;
}

.buttons-main{
    padding: 3vh;
    width: 60vh;
    margin-left: auto;
    margin-right: auto;
    
}

.buttons{
    display: flex;
    justify-content: space-around;
    margin-top: 5vh;
   

}

.buttons button{
    background-color: black;
    color: white;
    height: 5vh;

} */
